<div style="padding-bottom: 10%;">
  <div style="text-align: justify;">
    <p>
      Sua pergunta foi respondida pela nossa equipe! Confira abaixo:
    </p>
    <p>
      <b>{{ question }}</b>
    </p>
    <p>
      {{ answer }}
    </p>
  </div>
</div>
