<div style="padding-bottom: 10%;">
  <div style="text-align: justify;">
    <p>
      Parabéns! <b>{{ name }}</b>, agora você faz parte da GymPoint onde suas metas e desafios serão batidos e superados!
    </p>
  </div>
  <div>
    <h4>
      Detalhes do plano: <br>
    </h4>
    <b>Tipo: </b> {{ title }}<br>
    <b>Término: </b> {{ endDate }}<br>
    <b>Valor: </b> R$ {{ price }}
  </div>
</div>
